<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="consts.xacro" /> 
    <xacro:include filename="physics.xacro" /> 
    <!-- <xacro:include filename="materials.xacro" />  -->
    
    
    <!-- base_footprint -->
    <link name = "base_footprint">
    </link>


    <!-- base_link -->

    <link name="base_link">
        <inertial>
            <origin xyz="2.480529914137719e-05 -9.790818202397133e-05 0.23900096831654172" rpy="0 0 0"/>
            <mass value="0.996540823201331"/>
            <inertia ixx="0.006012" iyy="0.00603" izz="0.010866" ixy="1e-06" iyz="0.0" ixz="-6e-06"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <!-- base_ext_links -->

    <link name="front_left_ext">
        <xacro:inertial_left_ext></xacro:inertial_left_ext>
        <visual>
            <origin xyz="0.085989 -0.009337 -0.2" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/front_left_ext_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <origin xyz="0.085989 -0.009337 -0.2" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/front_left_ext_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="back_left_ext">
        <xacro:inertial_left_ext></xacro:inertial_left_ext>
        <visual>
            <origin xyz="-0.001768 0.07869 -0.2" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/back_left_ext_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <origin xyz="-0.001768 0.07869 -0.2" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/back_left_ext_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="front_right_ext">
        <xacro:inertial_right_ext></xacro:inertial_right_ext>
        <visual>
            <origin xyz="0.010606 -0.091144 -0.2" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/front_right_ext_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <origin xyz="0.010606 -0.091144 -0.2" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/front_right_ext_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="back_right_ext">
        <xacro:inertial_right_ext></xacro:inertial_right_ext>
        <visual>
            <origin xyz="-0.077977 -0.002501 -0.2" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/back_right_ext_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <origin xyz="-0.077977 -0.002501 -0.2" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/back_right_ext_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <!-- first_links -->

    <link name="front_left_first">
        <xacro:inertial_left_first></xacro:inertial_left_first>
        <visual>
            <origin xyz="0.107196 0.005572 -0.1265" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/front_left_first_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <origin xyz="0.107196 0.005572 -0.1265" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/front_left_first_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="back_left_first">
        <xacro:inertial_left_first></xacro:inertial_left_first>

        <visual>
            <origin xyz="0.019439 0.0936 -0.1265" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/back_left_first_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <origin xyz="0.019439 0.0936 -0.1265" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/back_left_first_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="back_right_first">
        <xacro:inertial_right_first></xacro:inertial_right_first>
        <visual>
            <origin xyz="-0.093966 -0.019118 -0.1265" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/back_right_first_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <origin xyz="-0.093966 -0.019118 -0.1265" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/back_right_first_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="front_right_first">
        <xacro:inertial_right_first></xacro:inertial_right_first>
        <visual>
            <origin xyz="-0.005383 -0.107761 -0.1265" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/front_right_first_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <origin xyz="-0.005383 -0.107761 -0.1265" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/front_right_first_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <!-- Second_links -->

    <link name="front_left_sec">
        <xacro:inertial_left_sec></xacro:inertial_left_sec>
        <visual>
            <origin xyz="0.126562 0.073022 -0.143542" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/front_left_sec_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="brown"/>
        </visual>
        <collision>
            <origin xyz="0.126562 0.073022 -0.143542" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/front_left_sec_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="back_left_sec">
        <xacro:inertial_left_sec></xacro:inertial_left_sec>
        <visual>
            <origin xyz="0.038805 0.161049 -0.143542" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/back_left_sec_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="brown"/>
        </visual>
        <collision>
            <origin xyz="0.038805 0.161049 -0.143542" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/back_left_sec_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="front_right_sec">
        <xacro:inertial_right_sec></xacro:inertial_right_sec>
        <visual>
            <origin xyz="-0.072832 -0.127127 -0.143542" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/front_right_sec_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="brown"/>
        </visual>
        <collision>
            <origin xyz="-0.072832 -0.127127 -0.143542" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/front_right_sec_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="back_right_sec">
        <xacro:inertial_right_sec></xacro:inertial_right_sec>
        <visual>
            <origin xyz="-0.161415 -0.038484 -0.143542" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/back_right_sec_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="brown"/>
        </visual>
        <collision>
            <origin xyz="-0.161415 -0.038484 -0.143542" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/back_right_sec_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <!-- Wing_links -->

    <link name="front_left_wing">
        <inertial>
            <origin xyz="-0.08423046213273366 1.2586288960263511e-05 -0.025014546541867244" rpy="0 0 0"/>
            <mass value="0.10900064251063164"/>
            <inertia ixx="4.2e-05" iyy="0.000693" izz="0.00067" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
        </inertial>
        <visual>
            <origin xyz="0.1425 -4e-05 -0.2645" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/front_left_wing_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="yellow"/>
        </visual>
        <collision>
            <origin xyz="0.1425 -4e-05 -0.2645" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/front_left_wing_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="back_right_wing">
        <inertial>
            <origin xyz="0.08423046213273397 -1.2966709102273344e-05 -0.02501417790470281" rpy="0 0 0"/>
            <mass value="0.10900064251063164"/>
            <inertia ixx="4.2e-05" iyy="0.000693" izz="0.00067" ixy="-0.0" iyz="0.0" ixz="0.0"/>
        </inertial>
        <visual>
            <origin xyz="-0.1425 -4e-05 -0.264887" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/back_right_wing_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="green"/>
        </visual>
        <collision>
            <origin xyz="-0.1425 -4e-05 -0.264887" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/back_right_wing_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="front_right_wing">
        <inertial>
            <origin xyz="1.2776731160215605e-05 0.08423040102887916 -0.025014546541867272" rpy="0 0 0"/>
            <mass value="0.10900064251063164"/>
            <inertia ixx="0.000693" iyy="4.2e-05" izz="0.00067" ixy="0.0" iyz="0.0" ixz="-0.0"/>
        </inertial>
        <visual>
            <origin xyz="-0.0 -0.142742 -0.265" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/front_right_wing_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="yellow"/>
        </visual>
        <collision>
            <origin xyz="-0.0 -0.142742 -0.265" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/front_right_wing_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="back_left_wing">
        <inertial>
            <origin xyz="-1.2776424201028646e-05 -0.08423040102887927 -0.025014544480448514" rpy="0 0 0"/>
            <mass value="0.10900064251063164"/>
            <inertia ixx="0.000693" iyy="4.2e-05" izz="0.00067" ixy="0.0" iyz="-0.0" ixz="0.0"/>
        </inertial>
        <visual>
            <origin xyz="-0.0 0.142742 -0.265" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/back_left_wing_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="green"/>
        </visual>
        <collision>
            <origin xyz="-0.0 0.142742 -0.265" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/back_left_wing_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>


    <!-- Prop_links -->

    <link name="back_left_prop">
        <inertial>
            <origin xyz="-5.5371578022784715e-09 6.110385503133031e-08 0.005000002061418818" rpy="0 0 0"/>
            <mass value="0.009084450684452723"/>
            <inertia ixx="3.3e-09" iyy="3.3e-05" izz="3.3e-05" ixy="-0.0" iyz="0.0" ixz="0.0"/>
        </inertial>
        <visual>
            <origin xyz="1e-05 0.374024 -0.255" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/back_left_prop_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <origin xyz="1e-05 0.374024 -0.255" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/back_left_prop_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="back_right_prop">
        <inertial>
            <origin xyz="6.48925357893404e-14 -1.9582212303134847e-07 0.005000368637164465" rpy="0 0 0"/>
            <mass value="0.007573563096933218"/>
            <inertia ixx="3.3e-09" iyy="2.8e-05" izz="2.8e-05" ixy="-0.0" iyz="0.0" ixz="0.0"/>
        </inertial>
        <visual>
            <origin xyz="-0.373782 -3e-05 -0.254887" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/back_right_prop_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="violet"/>
        </visual>
        <collision>
            <origin xyz="-0.373782 -3e-05 -0.254887" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/back_right_prop_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="front_right_prop">
        <inertial>
            <origin xyz="5.844245561943996e-09 -6.110385486479686e-08 0.0050000000000000044" rpy="0 0 0"/>
            <mass value="0.009084450684452723"/>
            <inertia ixx="3.3e-09" iyy="3.3e-05" izz="3.3e-05" ixy="-0.0" iyz="0.0" ixz="0.0"/>
        </inertial>
        <visual>
            <origin xyz="-1e-05 -0.374024 -0.255" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/front_right_prop_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <origin xyz="-1e-05 -0.374024 -0.255" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/front_right_prop_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="front_left_prop">
        <inertial>
            <origin xyz="6.461498003318411e-14 -1.845980186942605e-07 0.00500000000000006" rpy="0 0 0"/>
            <mass value="0.007573563096933218"/>
            <inertia ixx="3.3e-09" iyy="2.8e-05" izz="2.8e-05" ixy="-0.0" iyz="0.0" ixz="0.0"/>
        </inertial>
        <visual>
            <origin xyz="0.373782 -5e-05 -0.2545" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/front_left_prop_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="violet"/>
        </visual>
        <collision>
            <origin xyz="0.373782 -5e-05 -0.2545" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find lawd_description)/meshes/front_left_prop_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>


    <!-- !!!!!!!!!!!!!!!!!!!!!!! FEET !!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

        <!-- *********** FL FOOT ********** -->
    <link name="FL_foot">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <sphere radius="${foot_radius}"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/> 
            <geometry>
                <sphere radius="${foot_radius}"/>
            </geometry>
            <surface>
                <friction>
                    <ode>
                        <mu>100</mu>
                        <mu2>100</mu2>
                        <fdir1>1 0 0</fdir1>
                    </ode>
                </friction>
            </surface>
        </collision>
        <xacro:inertial_foot></xacro:inertial_foot>
    </link>
    <!-- *********** FR FOOT ********** -->
    <link name="FR_foot">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <sphere radius="${foot_radius}"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <sphere radius="${foot_radius}"/>
            </geometry>
            <surface>
                <friction>
                    <ode>
                        <mu>100</mu>
                        <mu2>100</mu2>
                        <fdir1>1 0 0</fdir1>
                    </ode>
                </friction>
            </surface>
        </collision>
        <xacro:inertial_foot></xacro:inertial_foot>
    </link>
    <!-- *********** BR FOOT ********** -->
    <link name="BR_foot">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <sphere radius="${foot_radius}"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <sphere radius="${foot_radius}"/>
            </geometry>
            <surface>
                <friction>
                    <ode>
                        <mu>100</mu>
                        <mu2>100</mu2>
                        <fdir1>1 0 0</fdir1>
                    </ode>
                </friction>
                <contact>
                    <ode>
                        <kp>1000000.0</kp>  <!-- Increase contact stiffness -->
                        <kd>1.0</kd>  <!-- Increase contact damping -->
                    </ode>
                </contact>
            </surface>
        </collision>
        <xacro:inertial_foot></xacro:inertial_foot>
    </link>
    <!-- *********** BL FOOT ********** -->
    <link name="BL_foot">
        <visual>
            <origin rpy="0 0 0" xyz="0.0 0 0"/>
            <geometry>
                <sphere radius="${foot_radius}"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <sphere radius="${foot_radius}"/>
            </geometry>
            <surface>
                <friction>
                    <ode>
                        <mu>100</mu>
                        <mu2>100</mu2>
                        <fdir1>1 0 0</fdir1>
                    </ode>
                </friction>
            </surface>
        </collision>
        <xacro:inertial_foot></xacro:inertial_foot>
    </link>

</robot>