<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    
    <xacro:include filename="consts.xacro" />

    <!--  BODY -->
    <!-- <xacro:macro name="inertial_body">
        <inertial>
            <origin xyz="-0.006 0.00633 0.00214" rpy="0 0 0"/> 
            <mass value="${body_mass}" />
            <inertia  ixx="0.011396658109874464" ixy="0" ixz="0" iyy="0.05486450023370329" iyz="0" izz="0.06098759357764758" />   
        </inertial>
    </xacro:macro>  -->

    <!-- EXT -->
    <xacro:macro name="inertial_right_ext">
        <inertial>
            <origin xyz="0.012783369116821387 -0.0009200116016966631 -0.05572297183409802" rpy="0 0 0"/>
            <mass value="${ext_mass}" />
            <inertia  ixx="4.7e-05" ixy="3e-06" ixz="4e-06" iyy="4.7e-05" iyz="4e-06" izz="1.9e-05" />
        </inertial>
    </xacro:macro> 
    <xacro:macro name="inertial_left_ext">
        <inertial>
            <origin xyz="-0.003968707616274422 -0.011528811891692872 -0.05580009747380574" rpy="0 0 0"/>
            <mass value="${ext_mass}" />
            <inertia  ixx="4.7e-05" ixy="3e-06" ixz="-4e-06" iyy="-4e-06" iyz="-4e-06" izz="1.9e-05" />
        </inertial>
    </xacro:macro> 

    <!-- First -->
    <xacro:macro name="inertial_right_first">
        <inertial>
            <origin xyz="0.03549786601917407 0.026797164380325905 0.027749022264601075" rpy="0 0 0"/>
            <mass value="${right_first_mass}" />
            <inertia  ixx="5.2e-05" ixy="-1.3e-05" ixz="3e-06" iyy="6.8e-05" iyz="-1e-06" izz="4.7e-05" />
        </inertial>
    </xacro:macro> 
    <xacro:macro name="inertial_left_first">
        <inertial>
            <origin xyz="-0.026791404631476858 -0.03548950127623447 0.027741728608360272" rpy="0 0 0"/>
            <mass value="${left_first_mass}"/>
            <inertia  ixx="6.8e-05" ixy="-1.4e-05" ixz="1e-06" iyy="5.2e-05" iyz="-3e-06" izz="4.7e-05" />
        </inertial>
    </xacro:macro> 

    <!-- SEC -->
    <xacro:macro name="inertial_right_sec">
        <inertial>
            <origin xyz="-0.016605826993704824 0.016605898496808158 -0.05769076418603017" rpy="0 0 0"/>
            <mass value="${sec_mass}" />
            <inertia  ixx="0.000185" ixy="3.4e-05" ixz="-3e-06" iyy="0.000185" iyz="3e-06" izz="7.5e-05" />
        </inertial>
    </xacro:macro>
    <xacro:macro name="inertial_left_sec">
        <inertial>
            <origin xyz="-0.016605892353994497 0.016606016154579933 -0.057690764186026366" rpy="0 0 0"/>
            <mass value="${sec_mass}" />
            <inertia  ixx="0.000185" ixy="3.4e-05" ixz="-3e-06" iyy="0.000185" iyz="3e-06" izz="7.5e-05" />
        </inertial>
    </xacro:macro>  


    <!-- FOOT -->
    <xacro:macro name="inertial_foot">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
            <mass value="${foot_mass}"/>
            <inertia ixx="${(1/12) * foot_mass * (0.01 * 0.01 + 0.01 * 0.01)}" ixy="0.0" ixz="0.0" 
                    iyy="${(1/12) * foot_mass * (0.01 * 0.01 + 0.01 * 0.01)}" iyz="0.0" 
                    izz="${(1/12) * foot_mass * (0.01 * 0.01 + 0.01 * 0.01)}" />
        </inertial>
    </xacro:macro>

    <!-- ************************************************************************************************** -->


</robot>